# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Intellij data
.idea/
*.iml

# Binary files
Fork-Accountability
validator/validator
monitor/monitor

# Dependency directories (remove the comment below to include it)
# vendor/
